/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  background-color:#D2D6DB;
  position:relative;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.testimonial_card{
  background-color:#fff;
  width: 30rem;
  padding:2rem 2rem;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius:5px;
  box-shadow: 1px 1px 5px #525252;
  display:flex;
  flex-direction:column;
  gap:20px;
  /* align-items: center; */
  justify-content: center; /* Prevents the text from wrapping */
  overflow: hidden; /* Ensures the overflow is hidden */
  text-overflow: ellipsis; /* Shows the ellipsis (...) */
}
.user_detail{
  display:flex;
  gap:10px;

}

.user_image{
  border-radius:15px;
}
